@import "./base.css";

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--primary-color);
  transition: 0.4s;
}

input:focus {
  outline: none;
}

button {
  cursor: cell;
  background-color: transparent;

  color: black;
  font-weight: 600;
  font-size: 16px;

  border: solid 1px #000;
  padding: 8px 12px;
  transition: all 150ms ease;
}

button:hover {
  background-color: var(--primary-color);
}
